.btnCart {
  cursor: pointer;
  width: 70px;
  background: linear-gradient(135deg, #a855f7 0%, #22d3ee 100%);
  padding: 0.25rem 0.75rem;
  border-radius: 1.25rem;
  color: snow;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  border: none;
  font-size: 1.2rem;
  & span {
    font-weight: 600;
  }
}
.cart {
  z-index: 20;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 350px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-nav);
  border-radius: 1rem 0 0 1rem;
  transform: translateX(100%);
  transition: all 300ms ease-in-out;
  pointer-events: all;
  user-select: all;
  &.opened {
    transform: translateX(0);
  }
}
.cart h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.cart h2 button {
  background: none;
  border: none;
  color: #ff4d4d;
  cursor: pointer;
}
.items ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.items {
  list-style: none;
  padding: 0;
  flex: 1;
  overflow-y: auto;
  margin-bottom: 1.5rem;
}
.items li {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}
.items li picture img {
  width: 70px;
  height: 70px;
  object-fit: contain;
  border-radius: 8px;
}
.items dl {
  flex: 1;
}
.items dt {
  font-weight: bold;
  font-size: 0.9rem;
}

.items dd {
  margin: 0;
  color: #a5a5a5;
  font-weight: 600;
}
.items form {
  display: flex;
  align-items: center;
  gap: 8px;
}
.items form button {
  background: none;
  border: none;
  color: #ff4d4d;
  border-radius: 4px;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.items form .btn-quantity {
  background: none;
  border: none;
  color: #ffffff;
}
.items form button:hover {
  background: #e0e0e0;
}
.items::-webkit-scrollbar {
  display: none;
}
.cart footer {
  border-top: 2px solid #ffffff;
  padding-top: 1rem;
}
.cart footer p {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}
.cart footer p span {
  font-weight: bold;
}
.cart > button {
  width: 90%;
  background: linear-gradient(135deg, #a855f7 0%, #22d3ee 100%);
  color: white;
  border: none;
  padding: 1rem;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  margin: 1rem;
}
.cart > button {
  box-shadow: 0px 8px 25px rgba(34, 211, 238, 0.6);
}
.success {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #22c55e;
  color: white;
  padding: 14px 20px;
  border-radius: 12px;
  font-weight: 600;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.5s ease;
}
.NoProducts {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1.2rem;
  margin: 20px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (max-width: 480px) {
  .cart {
    width: 100%;
    max-width: 100%;
    border-radius: 0;
  }
  .items li picture img {
    width: 60px;
    height: 60px;
  }
  .cart form:first-child {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
  }
}
