.carrusel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: auto;
  position: relative;
  width: 100%;
  padding: 1rem;
  margin: auto;
  scroll-margin-top: 70px;
}
h3 {
  padding: 20px;
  margin-bottom: 5px;
  font-size: 30px;
  color: aliceblue;
}
.carrusel-ventana {
  overflow: hidden; /* Corta lo que sobresale */
  width: 100%;
}

.carrusel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carrusel-item {
  flex: 0 0 33.3333%;
  padding: 0 0.5rem;
}

.card {
  width: 100%;
  max-width: 300px;
  margin: auto;
  height: 350px;
  backdrop-filter: blur(10px) saturate(180%);
  color: white;
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.1);
  position: relative;
  text-align: center;
}
.card img {
  margin: 10px;
  border-radius: 12px;
  width: 70%;
  height: 60%;
}
.btn-buy {
  width: 200px;
  padding: 10px;
  background: linear-gradient(135deg, #a855f7 0%, #22d3ee 100%);
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0px 4px 15px rgba(168, 85, 247, 0.4);
  margin: 20px;
}

.btn-buy:hover {
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0px 8px 25px rgba(34, 211, 238, 0.6);
  filter: brightness(1.1);
}

.btn-anterior,
.btn-siguiente {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px 15px;
  cursor: pointer;
  z-index: 1;
  left: 10px;
  margin: 10px;
}

@media (max-width: 1024px) {
  .carrusel-item {
    flex: 0 0 50%;
  }
}
@media (max-width: 640px) {
  .carrusel-item {
    flex: 0 0 100%;
  }
}
