.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem 1.5rem;
  color: #333;
  line-height: 1.6;
}

.hero {
  text-align: center;
  margin-bottom: 5rem;
  padding: 3rem;
  background-image: url(/Fondo-body.jpg);
  border-radius: 20px;
}

.hero h1 {
  font-size: 2.5rem;
  color: #ffffff;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
  color: #ffffff;
  max-width: 700px;
  margin: 0 auto;
}

.history {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  align-items: center;
  margin-bottom: 6rem;
  text-align: center;
  flex: 1;
}
.history p {
  color: #ffffff;
  font-size: 1.2rem;
  margin: 0;
}
.history h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #ffffff;
}

.imagePlaceholder {
  height: 300px;
  width: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  color: #ffffff;
}

.values {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}
.values p {
  color: #ffffff;
  font-size: 1.2rem;
}

.valueCard {
  color: #ffffff;
  padding: 2rem;
  text-align: center;
  backdrop-filter: blur(10px) saturate(180%);
  color: white;
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.1);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.valueCard:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}

.valueCard svg {
  width: 40px;
  height: 40px;
  margin-bottom: 1rem;
}

.valueCard h3 {
  margin-bottom: 0.8rem;
}

@media (max-width: 768px) {
  .history {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .history .imagePlaceholder {
    order: -1;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .history {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 450px) {
  .history {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .history .imagePlaceholder {
    order: -1;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .history {
    display: flex;
    flex-direction: column;
  }
}
