.productsPage {
  padding: 3rem 1.5rem;
  color: white;
}
.productsPage h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.layout {
  display: grid;
  grid-template-columns: minmax(220px, 260px) 1fr;
  width: 100%;
  max-width: 1400px;
  margin: auto;
  gap: 3rem;
}
aside {
  background: #8b8eb863;
  padding: 1.5rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 100%;
  max-width: 260px;
  position: sticky;
  top: 100px;
}

aside h3 {
  margin-bottom: 0.5rem;
}
label {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  font-size: 0.9rem;
}
.filters {
  border-radius: 15px;
  padding: 10px;
  backdrop-filter: blur(10px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  background: rgba(255, 255, 255, 0.1);
  margin: 10px;
  color: #030303;
}

.card {
  width: 100%;
  max-width: 300px;
  margin: auto;
  height: 350px;
  backdrop-filter: blur(10px) saturate(180%);
  color: white;
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  background: rgba(255, 255, 255, 0.1);
  position: relative;
  overflow: hidden;
  text-align: center;
}
.card img {
  margin: 10px;
  border-radius: 12px;
  width: 70%;
  height: 60%;
}
.btn-buy {
  width: 100%;
  max-width: 200px;
  margin: auto;
  padding: 10px;
  background: linear-gradient(135deg, #a855f7 0%, #22d3ee 100%);
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0px 4px 15px rgba(168, 85, 247, 0.4);
  margin: 10px 20px;
}

.btn-buy:hover {
  transform: translateY(-3px) scale(1.05);

  box-shadow: 0px 8px 25px rgba(34, 211, 238, 0.6);
  filter: brightness(1.1);
}

.btn-buy:active {
  transform: translateY(-1px);
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 820px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  aside {
    position: static;
    max-width: 100%;
  }
  .productsPage h2 {
    font-size: 2.3rem;
  }
}

@media (max-width: 580px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .layout {
    grid-template-columns: 1fr;
  }

  aside {
    order: -1;
    position: static;
    max-width: 100%;
  }
}
