* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: sans-serif;
  background: #304352;
  background: -webkit-linear-gradient(to top, #d7d2cc, #304352);
  overflow-x: hidden;
  scroll-behavior: smooth;
  &.active {
    pointer-events: none;
    user-select: none;
  }
  &.active::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(0.2rem);
    z-index: 10;
  }
}

a {
  text-decoration: none;
  color: inherit;
}
