.page {
  min-height: 100vh;
  color: #f5f5f5;
  padding: 4rem 1.5rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 3rem;
}
.info {
  backdrop-filter: blur(10px) saturate(180%);
  color: rgb(255, 255, 255);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 10px;
}
.successMessage {
  background-color: rgba(34, 197, 94, 0.15);
  border: 1px solid #22c55e;
  color: #22c55e;
  padding: 0.75rem 1rem;
  border-radius: 14px;
  font-size: 0.9rem;
}

.errorMessage {
  background-color: rgba(239, 68, 68, 0.15);
  border: 1px solid #ef4444;
  color: #ef4444;
  padding: 0.75rem 1rem;
  border-radius: 14px;
  font-size: 0.9rem;
}
.errorMessageInput {
  color: #ef4444;
}

/* Info */
.header h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.header p {
  color: #dddddd;
  max-width: 420px;
  margin-bottom: 2rem;
}

.address p {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  background: #111;
  border: 1px solid #1f1f1f;
  border-radius: 16px;
  padding: 1rem;
}

/* Form */
.card {
  backdrop-filter: blur(10px) saturate(180%);
  color: white;
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  background: rgba(255, 255, 255, 0.1);

  padding: 2rem;
  display: grid;
}

.card h2 {
  margin-bottom: 1.5rem;
}

.formGroup {
  margin: 1.05rem 0 1.25rem 0;
}

.label {
  display: block;
  margin-bottom: 0.4rem;
  font-size: 0.9rem;
}

.input,
.textarea {
  width: 100%;
  padding: 0.75rem 1rem;
  color: white;
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  background: rgba(255, 255, 255, 0.1);
}

.input:focus,
.textarea:focus {
  outline: none;
  border-color: #3b82f6;
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.3);
}

.button {
  width: 100%;
  margin-top: 1rem;
  background: #3b82f6;
  border: none;
  border-radius: 16px;
  padding: 0.9rem;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s ease;
}

.button:hover {
  background: #2563eb;
}

/* Alerts */
.success {
  background: rgba(34, 197, 94, 0.15);
  border: 1px solid #22c55e;
  color: #22c55e;
  padding: 0.75rem 1rem;
  border-radius: 14px;
  margin-bottom: 1rem;
}

.error {
  background: rgba(239, 68, 68, 0.15);
  border: 1px solid #ef4444;
  color: #ef4444;
  padding: 0.75rem 1rem;
  border-radius: 14px;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}
